@import "./utils/variables.scss";
@import "./base/normalize.scss";
@import "./base/headline.scss";
@import "./layouts/footer.scss";
@import "./layouts/header.scss";

* {
    font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
