/* Error: expected "{".
 *    ,
 * 54 | >>>>>>> 4bf57ed7b58530cc6ec29d3605a67957e2a7ab5c
 *    |                                                 ^
 *    '
 *   sass\components\button.scss 54:49  @import
 *   sass\main.scss 9:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 54 \2502  >>>>>>> 4bf57ed7b58530cc6ec29d3605a67957e2a7ab5c\d\a    \2502                                                  ^\a    \2575 \a   sass\\components\\button.scss 54:49  @import\a   sass\\main.scss 9:9                 root stylesheet';
}
