* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headline {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  align-items: center;
  padding-bottom: 3.56rem;
}
@media (min-width: 768px) {
  .headline {
    padding: 1.875rem 0 1.875rem 0;
    gap: 1.12rem;
  }
}
.headline h1 {
  text-align: center;
  height: 4.25rem;
  margin: 2.4rem 3.62rem 0 2.62rem;
}
@media (min-width: 768px) {
  .headline h1 {
    font-size: 2.5rem;
    height: 2.9375rem;
    margin: 0;
  }
}
.headline p {
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  margin: 0 1.62rem 1.69rem 2.12rem;
}
@media (min-width: 768px) {
  .headline p {
    display: flex;
    height: 2.875rem;
    margin: 0;
    align-items: center;
  }
}
.headline a {
  margin-bottom: 3.56rem;
}

footer {
  background-color: #353535;
  padding: 1.375rem 1.5625rem;
}
@media (min-width: 1024px) {
  footer {
    padding: 1.875rem 1.5625rem;
    height: 7.125rem;
  }
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  footer nav {
    flex-direction: row-reverse;
    height: 100%;
    align-items: flex-end;
  }
}
footer nav .logo_footer {
  display: flex;
  width: 8.59888rem;
  height: 1.6875rem;
  align-items: center;
}
footer nav .logo_footer img {
  width: 75.31%;
}
footer nav .navbar_footer {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
@media (min-width: 1024px) {
  footer nav .navbar_footer {
    flex-direction: row;
  }
}
footer nav .navbar_footer_link > a {
  display: flex;
  flex-direction: row;
  gap: 0.69rem;
  color: #FFFFFF;
  align-items: center;
}
footer nav .navbar_footer_link > a p {
  font-weight: 400;
}
@media (min-width: 1024px) {
  footer nav .navbar_footer_link > a p {
    width: 8.125rem;
    height: 1.25rem;
  }
}
footer nav .navbar_footer_link > a i + p {
  font-weight: 500;
}
@media (min-width: 1024px) {
  footer nav .navbar_footer_link > a i + p {
    width: 10.5rem;
  }
}

header {
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: column;
  height: 3.9375rem;
  width: 100%;
}
@media (min-width: 768px) {
  header nav {
    height: 6.02119rem;
  }
}
header nav .navbar_header {
  display: grid;
  grid-template: auto/auto auto;
  height: 3.9375rem;
  width: 100%;
  padding: 0.875rem 0 0.8125rem 1.0625rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  header nav .navbar_header {
    height: 6.02119rem;
    padding: 1.875rem 0 2.00856rem 1.0625rem;
  }
}
header nav .navbar_header_link {
  grid-row: 1;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  width: auto;
  justify-self: flex-start;
}
header nav .navbar_header_link img {
  width: 10.125rem;
  height: auto;
}
@media (min-width: 768px) {
  header nav .navbar_header_link img {
    width: fit-content;
    max-width: 100%;
  }
}
header nav .navbar_header_link a {
  color: #353535;
  position: absolute;
  display: none;
  width: 1.875rem;
  height: 1.875rem;
  justify-content: center;
  align-items: center;
}
header nav .navbar_header_link + .navbar_header_link {
  width: 12.3125rem;
  height: 2.25rem;
  padding: 0rem 1.1875rem 0rem 1rem;
  justify-self: center;
  align-items: end;
}
@media (min-width: 768px) {
  header nav .navbar_header_link + .navbar_header_link {
    width: 12.5rem;
    height: 2.13763rem;
    padding: 0;
  }
}
header form {
  display: flex;
  flex-direction: row;
  background: #EAEAEA;
  gap: 1.0625rem;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
}
header form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 1rem;
  font-weight: 500;
  width: 6.8125rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 3.38rem 5% 4.12rem 5%;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 1.875rem 12.5% 1.875rem 12.5%;
  }
}
.restaurants_article {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
@media (min-width: 768px) {
  .restaurants_article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.125rem;
  }
}
.restaurants_article article {
  width: 100%;
  height: 15.6875rem;
  border-radius: 0.9375rem;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .restaurants_article article {
    width: 45.37%;
  }
}
.restaurants_article article a {
  display: flex;
  flex-direction: column;
}
.restaurants_article article a .img_badge {
  display: flex;
  justify-content: flex-end;
}
.restaurants_article article a .img_badge img {
  height: 10.8775rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants_article article a .img_badge span {
  display: flex;
  position: absolute;
  width: 5rem;
  height: 1.8125rem;
  margin: 0.82rem 0.75rem 0 0;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.how_to {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  gap: 1.62rem;
}
@media (min-width: 1024px) {
  .how_to {
    padding: 3.125rem 0 3.125rem 0;
    gap: 1.5625rem;
  }
}
.how_to_cards {
  display: flex;
  flex-direction: column;
  gap: 1.62rem;
}
@media (min-width: 1024px) {
  .how_to_cards {
    width: 100%;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }
}
.card {
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .card {
    width: 20.15538rem;
  }
}
.card_number {
  display: flex;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
}
.card_number span {
  font-size: 0.88638rem;
  color: #FFFFFF;
}
.card_content {
  display: flex;
  gap: 1.69rem;
  margin-left: 0.78rem;
  height: 4.52369rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.card_content p {
  width: 13.1875rem;
}
.card_content i {
  margin-left: 2.09rem;
  color: #7E7E7E;
}
.card_content .fa-store {
  color: #9356DC;
}

.restaurant_card {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.56rem 0.75rem 0.81rem;
  color: black;
}
.restaurant_card_txt {
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
}
.restaurant_card_txt p {
  font-size: 1.0625rem;
  font-weight: 300;
}
.restaurant_card i {
  margin-top: 0.41rem;
}

.button_exploration {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-width: 0;
  color: var(--White, #FFF);
  text-align: center;
}

.button_exploration:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  opacity: 85%;
}

.heart_button {
  position: relative;
  display: grid;
  width: 1.375rem;
  height: 1.3125rem;
  background: #FFFFFF;
  border: none;
  height: fit-content;
}
.heart_button svg {
  position: absolute;
  opacity: 1;
}
.heart_button svg:hover {
  opacity: 0;
}
.heart_button svg + svg {
  opacity: 0;
}
.heart_button svg + svg:hover {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
