* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headline {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  align-items: center;
  padding-bottom: 3.56rem;
}
.headline h1 {
  display: flex;
  text-align: center;
  height: 4.25rem;
  margin: 2.4rem 3.62rem 0 2.62rem;
}
.headline p {
  display: flex;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  margin: 0 1.62rem 1.69rem 2.12rem;
}
.headline a {
  margin-bottom: 3.56rem;
}

footer {
  background-color: #353535;
  padding: 1.375rem 1.5625rem;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer nav .logo_footer {
  width: 8.59888rem;
  height: 1.6875rem;
}
footer nav .logo_footer img {
  max-width: 100%;
}
footer nav .navbar_footer {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
footer nav .navbar_footer_link > a {
  display: flex;
  flex-direction: row;
  gap: 0.69rem;
  color: #FFFFFF;
  align-items: center;
}

header {
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header nav .navbar_header {
  display: grid;
  grid-template: auto/auto auto;
  width: 100%;
  padding: 0.875rem 0 0.8125rem 1.0625rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header nav .navbar_header_link {
  grid-row: 1;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  width: auto;
  justify-self: flex-start;
}
header nav .navbar_header_link img {
  width: 10.125rem;
  height: auto;
}
header nav .navbar_header_link a {
  color: #353535;
  position: absolute;
  display: none;
}
header nav .navbar_header_link + .navbar_header_link {
  justify-self: center;
}
header form {
  display: flex;
  flex-direction: row;
  background: #EAEAEA;
  gap: 1.0625rem;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
}
header form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 1rem;
  font-weight: 500;
  width: 6.8125rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 3.38rem 5% 4.12rem 5%;
  gap: 1.12rem;
}
.restaurants h2 {
  margin-bottom: 0.38rem;
}
.restaurants article {
  width: 100%;
  height: 15.6875rem;
  border-radius: 0.9375rem;
  background-color: #FFFFFF;
}
.restaurants article a {
  display: flex;
  flex-direction: column;
}
.restaurants article a .img_badge {
  display: flex;
  justify-content: flex-end;
}
.restaurants article a .img_badge img {
  height: 10.8775rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants article a .img_badge span {
  display: flex;
  position: absolute;
  width: 5rem;
  height: 1.8125rem;
  margin: 0.82rem 0.75rem 0 0;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.how_to {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  gap: 1.56rem;
}
.how_to h2 {
  margin-bottom: 0.6rem;
}

.card {
  display: flex;
  align-items: center;
}
.card_number {
  display: flex;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
}
.card_number span {
  font-size: 0.88638rem;
  color: #FFFFFF;
}
.card_content {
  display: flex;
  gap: 1.69rem;
  margin-left: 0.78rem;
  height: 4.52369rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.card_content p {
  width: 13.1875rem;
}
.card_content i {
  margin-left: 2.09rem;
  color: #7E7E7E;
}
.card_content .fa-store {
  color: #9356DC;
}

.restaurant_card {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.56rem 0.75rem 0.81rem;
  color: black;
}
.restaurant_card_txt {
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
}
.restaurant_card_txt p {
  font-size: 1.0625rem;
  font-weight: 300;
}
.restaurant_card i {
  margin-top: 0.41rem;
}

.button_exploration {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-width: 0;
  color: var(--White, #FFF);
  text-align: center;
}

.button_exploration:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  opacity: 85%;
}

.heart_button {
  display: grid;
  width: 1.375rem;
  height: 1.3125rem;
  background: #FFFFFF;
  border: none;
  height: fit-content;
}
.heart_button svg:hover {
  display: none;
}
.heart_button svg + svg {
  display: none;
  position: absolute;
}
.heart_button svg + svg:hover {
  display: block;
}

/*# sourceMappingURL=index.css.map */
