.how_to {
    display: grid;
    width: 100%;
    max-width: 1080px;
    padding: 3rem 1.25rem 4.25rem 1.25rem;
    row-gap: 1.62rem;
    
    @include tablet {
        padding: 3.125rem 1.25rem;
        margin: auto;
    }

    &_cards {
        display: grid;
        row-gap: 1.56rem;

        @include tablet {
            grid-template-columns: auto auto auto;
            width: 100%;
            column-gap: 1.5rem;
        }
    }
}