.how_to {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.25rem 4.25rem 1.25rem;
    gap: 1.62rem;
    
    @include desktop {
        padding: 3.125rem 0 3.125rem 0;
        gap: 1.5625rem;
    }

    &_cards {
        display: flex;
        flex-direction: column;
        gap: 1.62rem;

        @include desktop {
            width: 100%;
            flex-direction: row;
            gap: 1.5rem;
            justify-content: center;
        }
    }

    h2 {
        @include desktop {
            
        }
    }
}