@keyframes fadein {
    from {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
    }

    to {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }
}

@keyframes loaderdisplay {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes loadmobile {
    0% {
        transform: rotate(0turn);
        width: 4.5rem;
        height: 4.5rem;
        opacity: 1;
        border-width: 1.2rem;
    }
    
    50% {
        width: 2rem;
        height: 2rem;
        border: 1rem solid $main-color;
        opacity: 50%;
        border-bottom-color: $restaurant-menu-background;
    }

    100% {
        transform: rotate(1turn);
        width: 4.5rem;
        height: 4.5rem;
        opacity: 80%;
        border-width: 1.2rem;
    }
}

@keyframes loaddesktop {
    0% {
        transform: rotate(0turn);
        width: 6.5rem;
        height: 6.5rem;
        opacity: 1;
        border-width: 1.75rem;
    }

    50% {
        width: 3rem;
        height: 3rem;
        border: 1rem solid $main-color;
        opacity: 50%;
        border-bottom-color: $restaurant-menu-background;
    }

    100% {
        transform: rotate(1turn);
        width: 6.5rem;
        height: 6.5rem;
        opacity: 80%;
        border-width: 1.75rem;
    }
}