// 768 Tablette IPad
// 1080 Tablette Petit Desktop
// 1440 Grand Desktop


@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop() {
    @media only screen and (min-width: 1080px) {
      @content;
    }
}

@mixin elipsis {
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid_center {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}