// Variables couleurs
$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$gps-background: #EAEAEA;
$restaurant-menu-title: #101010;
$restaurant-menu-background: #F6F6F6;
$cardtxt-background: #FFFFFF;
$footer-background: #353535;
$icone_color: #7E7E7E;
$badge_txt_color: #008766;
$black: #000;
$button_gradient: linear-gradient(180deg, $second-color -11.44%, $main-color 123.93%);
$hover_gradiant: #100f0f26;

// Variable épaisseur de texte
$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;