$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$gps-background: #EAEAEA;
$restaurant-menu-title: #101010;
$restaurant-menu-background: #F6F6F6;
$cardtxt-background: #FFFFFF;
$footer-background: #353535;
$icone_color: #7E7E7E;
$badge_txt_color: #008766;
$black: #000;
