header {
    width: 100%;
    
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;

        .navbar_header {
            display: grid;
            grid-template: auto/ auto auto;
            width: 100%;
            padding: 0.875rem 0 0.8125rem 1.0625rem;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

            &_link {
                grid-row: 1;
                grid-column: 1/-1;
                display: flex;
                align-items: center;
                width: auto;
                justify-self: flex-start;
                
                img {
                
                    width: 10.125rem;
                    height: auto;
                    
                }

                a {
                    color: $footer-background;
                    position: absolute;
                    display: none;
                }
            }

            &_link + .navbar_header_link {
                justify-self: center;
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        background: $gps-background;
        gap: 1.0625rem;
        align-items: center;
        justify-content: center;
        height: 3.125rem;

        input {
            border: none;
            background-color: $gps-background;
            font-size: 1rem;
            font-weight: 500;
            width: 6.8125rem;
        }
    }
}

