header {
    width: 100%;
    
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;

        .navbar_header {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 0.875rem 0 0.8125rem 0;

            &_link {
                display: flex;
                align-items: center;
                width: auto;
                
            }

            &_link > img {
                
                width: 12.3125rem;
                height: 2.25rem;
                
            }

            &_link > a {
                color: $footer-background;
                position: absolute;
                display: none;
            }
        }
    }
}