.loader {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    @include flex_center;
    background: $restaurant-menu-background;
    animation: loaderdisplay 0.45s 2.5s ease forwards;

    &::after {
        content: '';
        width: 5rem;
        height: 5rem;
        border: 0.85rem solid $main-color;
        border-top-color: $third-color;
        border-radius: 50%;
        animation: loadmobile 1.5s linear 2;
        

        @include desktop {
            animation: loaddesktop 1.5s linear 2;
        }
    }

    &_inner {
        top: 50%;
        left: 50%;
        width: 2rem;
        height: 2rem;
        transform: translate(-50%, -50%);
        border: 1rem solid $main-color;
        border-radius: 50%;
        position: absolute;

        @include desktop {
            width: 3rem;
            height: 3rem;
            border: 1.5rem solid $main-color;
        }
    }
}